
 .yui3-notifier {
	
	font-size: 12px;
	position: absolute;
	z-index: 9999;
}

 .yui3-notifier.top-left {
	left: 0px;
	top: 0px;
}

 .yui3-notifier.top-right {
	right: 0px;
	top: 0px;
}

 .yui3-notifier.bottom-left {
	left: 0px;
	bottom: 0px;
}

 .yui3-notifier.bottom-right {
	right: 0px;
	bottom: 0px;
}

 .yui3-notifier.center {
	top: 0px;
	width: 50%;
	left: 25%;
}


 .yui3-notifier-content .yui3-notifier-header {
	font-weight: bold;
	padding: 12px;
	width: 92%;
	
}
.notifier-header-show {
	display: block;
}

.notifier-header-noshow {
	display: none;
}


.yui3-notifier .yui3-notifier-message {
	font-size: .95em;
}


/** Hide notifier when printing **/
@media print {
	.yui3-notifier {
		display: none;
	}
}

.yui3-notifier-content { 
	overflow: hidden;
	text-align: center;
	background-color: #000;
	color: #fff;
	opacity: .65;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65 );
	zoom: 1;
	width: 300px;
	margin: 10px;
	
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-align: left;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 7px;
	
}

.yui3-notifier .yui3-notifier-message {
	position: static;
	color: #fffff;
	padding: 12px;
	width: 92%;
	position:static;
	float:left;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}



.yui3-notifier:hover {
	
}
	
.yui3-notifier-content:hover  > .yui3-notify-close {
	display:block;
}



.yui3-notifier a {
	text-decoration: none;
}



.yui3-notifier .yui3-notify-close {
	position:absolute;
	border: 2px solid;
	cursor: pointer;
	padding-left: 4px;
	padding-right: 4px;
	text-decoration: none;
	font-weight: bold;
	top:0;
	right:0;
	 -moz-border-radius: 0.5px;
	-webkit-border-radius: 0.5px;
	border-radius: 10px;
	display:none;
	margin: 5px;
	background-color:gray ;
	
	
}

.spinner {
	background: url("ajax-loader.gif") no-repeat scroll 100% 50% transparent;
	float: left;
	padding-left: 35px;
	padding-right: 20px;
	padding-top: 30px;
}

.hide_overlay {
	display: block;
	opacity: 0.5;
	filter: Alpha(Opacity = 50);
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: grey;
	z-index: 99;
}

.warning {
	background-color: transparent;
	background: url(alerts.png);
	background-position: -35px -0px;
}

.error {
	background-color: transparent;
	background: url(alerts.png);
	background-position: -0px -0px;
}